html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main structure */

:root {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

header {
  flex: 1 1 auto;
  min-width: 400px;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(splash.jpg);
  background-size: cover;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  background-color: rgb(249, 250, 251);
}

/* Header */

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title > svg {
  fill: white;
  height: 5rem;
}

.title > h1 {
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 5rem;
}

.credit {
  color: white;
  text-align: center;
  position: relative;
  bottom: 10px;
  font-size: 1rem;
}

.credit > a {
  color: white;
}

/* Main */

main > * {
  padding-left: 50px;
  padding-right: 100px;
}

main h2 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.form {
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0px 10px 15px -15px;
}

/* Form */

label {
  display: block;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

tr:not(:last-child) > td {
  padding-bottom: 8px;
}

tr > td:first-child {
  padding-right: 60px;
}

input {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 1rem;
  padding: 0.5rem;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 4px;
}

input:focus {
  outline: none !important;
  border: 1px solid rgb(89, 125, 226);
  box-shadow: 2px 2px 5px -3px black, 0px 0px 2px 0px rgb(89, 125, 226);
}

input:invalid:not(:placeholder-shown) {
  outline: none !important;
  border: 1px solid rgb(198, 70, 70);
  box-shadow: 0px 0px 2px 0px rgb(198, 70, 70);
}

input + div {
  margin-top: 4px;
  height: 1.2rem;
  font-size: 0.8rem;
  color: rgb(216, 29, 29);
  max-width: 15rem;
  visibility: hidden;
}

input:invalid:not(:placeholder-shown) + div {
  visibility: visible;
}

/* Submission */

.account > button {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: rgb(95, 87, 68);
  padding: 12px 50px;
  border: 0;
  border-radius: 8px;
  box-shadow: 3px 3px 10px -5px black;
  cursor: pointer;
  transition-duration: 0.2s;
  margin-bottom: 2rem;
}
.account > button:hover {
  background-color: rgb(76, 67, 47);
}

.account a {
  color: rgb(95, 87, 68);
  font-weight: bold;
  text-decoration: none;
}
